@model AddressResponse

<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<link href="~/css/AddAddresss.css" rel="stylesheet" />

<div class="card address-card shadow-sm">
    <div class="card-body address-card-body">
        <form id="addressForm" asp-action="AddAddress">
            <div class="map-container mb-3">
                <div class="map-loading" id="mapLoading">
                    <i class="fas fa-spinner fa-spin"></i> Loading map...
                </div>
                <div id="map"></div>
            </div>
           
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <div class="address-input-group">
                    <input type="text" class="form-control" id="CustomerAddress" asp-for="CustomerAddress"
                           placeholder="Start typing your address..." autocomplete="off">
                    <i class="fas fa-location-arrow gps-icon" title="Use current location" onclick="getCurrentLocation()"></i>
                    <div id="searchResults" class="search-results"></div>
                </div>
            </div>

            <div class="mb-3">
                <div class="place-type-selector">
                    <div class="place-option" data-value="Apartment">
                        <i class="fas fa-building"></i>
                        <span>Apartment</span>
                    </div>
                    <div class="place-option" data-value="House">
                        <i class="fas fa-home"></i>
                        <span>House</span>
                    </div>
                    <div class="place-option" data-value="Office">
                        <i class="fas fa-briefcase"></i>
                        <span>Office</span>
                    </div>
                </div>

                <select class="form-control" id="PlaceType" asp-for="PlaceType" onchange="togglePlaceFields()">
                    <option value="Apartment">Apartment</option>
                    <option value="House">House</option>
                    <option value="Office">Office</option>
                </select>
            </div>

            <div id="apartmentFields" class="place-fields" style="display:none;">
                <div class="mb-3">
                    <input type="text" class="form-control" asp-for="StreetName" placeholder="Street Name">
                </div>
                <div class="mb-3 custom">
                    <input type="text" class="form-control" asp-for="HouseNumberOrName" placeholder="House Number / Name">
                    <input type="number" class="form-control" asp-for="FloorNumber" placeholder="Floor Number" min="0" max="100">
                </div>
            </div>

            <div id="houseFields" class="place-fields" style="display:none;">
                <div class="mb-3">
                    <input type="text" class="form-control" asp-for="StreetName" placeholder="Street Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" asp-for="HouseNumberOrName" placeholder="House Number / Nam">
                </div>
            </div>

            <div id="officeFields" class="place-fields" style="display:none;">
                <div class="mb-3">
                    <input type="text" class="form-control" asp-for="StreetName" placeholder="Street Name">
                </div>
                <div class="mb-3 custom">
                    <input type="text" class="form-control" asp-for="CompanyName" placeholder="Company">
                    <input type="number" class="form-control" asp-for="FloorNumber" placeholder="Floor Number" min="0" max="100">
                </div>
            </div>

            <input type="hidden" id="LonCode" name="LonCode">
            <input type="hidden" id="LatCode" name="LatCode">

            <div id="locationInfo" class="location-info" style="display: none;">
                <h6><i class="fas fa-info-circle me-1"></i>Selected Location</h6>
                <div id="info">Click on the map, search for an address, or use your current location</div>
            </div>

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="save-add">
                    <i class="fas fa-save me-2"></i>Save Address
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<script src="~/js/AddAddress.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
