@model Otlob.Core.ViewModel.AddressVM

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAddress">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUserId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddres" class="control-label">Your Address</label>
                <input asp-for="CustomerAddres" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning mybtn mt-3" asp-action="SavedAddresses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
