@model ProfileVM

@inject IEncryptionService encryptionService

@section Profile {
    <partial name="_ProfilePartial"></partial>
}

<div class="profile">
    <div class="info">
        <div class="home">        
            <span>Account</span>
        </div>
        <h2>Admin Account</h2>
    </div>
    <hr class="line" />
    <div class="links">
        <a href="#" class="active">Account Info</a>        
    </div>
    <partial name="_FormProfilePartial" model="Model" />
</div>

<script>
    function triggerFileInput() {
        document.getElementById("fileInput").click();
    }
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <partial name="_NotificationPartial"></partial>
}