body {
    padding-top: var(--navbar-height);
}

.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    height: var(--navbar-height);
}

.dashboard-wrapper {
    display: flex;
}

.sidebar {
    width: 100px;
    height: 100vh;
    background: linear-gradient(100deg, #a71905 100%, #9a5752 25% 25%);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform var(--main-transition) ease;
    z-index: 1000;
    transform: translateX(-100%);
    overflow-y: auto;
    padding-top: calc(var(--navbar-height) + 20px);
}

.sidebar.show {
    transform: translateX(0);
}

.toggle-btn {
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: -1000;
}

.menu {
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    transition: background var(--main-transition);
}

.menu-item i {
    margin-right: 10px;
}

.menu-item:hover,
.menu-item.active {
    background-color: var(--secondary-color);
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.sidebar-overlay.show {
    display: block;
}

@media (min-width: 992px) {
    .sidebar {
        transform: translateX(0);
        position: fixed;
    }

    body.sidebar-open {
        margin-left: 0px;
    }

    body.sidebar-closed {
        margin-left: 0;
    }

    .sidebar.hidden {
        transform: translateX(-100%);
    }

    .sidebar-overlay {
        display: none !important;
    }
}

@media (max-width: 991px) {
    body {
        margin-left: 0 !important;
    }

    .sidebar {
        transform: translateX(-100%);
        z-index: 1001;
    }

    .sidebar.show {
        transform: translateX(0);
    }
}

body:not(.sidebar-initialized) .sidebar:not(.show) {
    visibility: hidden;
}

body.sidebar-initialized .sidebar {
    visibility: visible;
}
