@using Otlob.Core.IServices
@model IQueryable<Otlob.Core.Models.Order>
@inject IEncryptionService encryptionService

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Your Orders
            </th>
            <th>
                Your Order Status
            </th>
            <th>
                Your Order Date
            </th>
            <th>More Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            string encryptedId = encryptionService.EncryptId(item.Id);

            <tr>
                <td>
                    <img alt="RestaurantLogo" class="avatar rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(item.Restaurant.Image))" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>         
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>   
                <td>
                    <a class="btn btn-success" asp-action="OrderDetails" asp-route-id="@encryptedId">Details</a>
                </td>            
            </tr>
        }
    </tbody>
</table>
