.left-panel {
    background: linear-gradient(to bottom, #595252, #ff4e4e);    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #7F8C8D;
}

.back-to-login a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.back-to-login a:hover {
    text-decoration: underline;
}

.back-to-login i {
    margin-right: 8px;
}

.loginform {
    min-height: 230px;
}