@using Otlob.Core.IServices
@model IQueryable<Otlob.Core.ViewModel.MealVm>

@inject IEncryptionService encryptionService

@section Notify {
        <partial name="_NotificationPartial"></partial>
}

<p>
    <a class="btn btn-warning" asp-action="AddMeal">Create New Meal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Logo
            </th>
            <th>
                Meal Name
            </th>           
            <th>
                Meal Price
            </th>            
            <th>
                More Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var encryptedMealId = encryptionService.EncryptId(item.MealVmId);

            <tr>
                <td>                    
                    @if (item.Image is not null)
                    {
                        <img alt="MealLogo" class="avatar rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" />
                    }
                    else
                    {
                        <img src="~/images/Default.jpg" alt="resturantLogo" class="avatar rounded-circle">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>            
                <td>
                    <a class="btn btn-success" asp-action="MealDetails" asp-route-id="@encryptedMealId">Meal Details</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-categoryid="@encryptedMealId">Delete Meal</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your address?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" asp-action="DeleteMeal">
                    <input type="hidden" name="id" id="categoryIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var categoryId = button.getAttribute('data-categoryid');
        var input = document.getElementById('categoryIdInput');
        input.value = categoryId;
    });
</script>