@using Utility
@{
    ViewData["Title"] = "Super Admin Home Page";
}
@section Notify {
    <partial name="_NotificationPartial"></partial>
}


<div class="ordersData">
    <div class="orders users">
        <a class="opacity-0 position-absolute" id="usersLink"></a>
        <a class="icon" asp-action="Index" asp-controller="Users" ><i class="bi bi-person"></i></a>
       <div class="dd">
            <a  asp-action="Customers" asp-controller="Users">Customers: @ViewBag.Users</a>
            <a asp-action="Partners" asp-controller="Users">Partners: @ViewBag.Customers</a>
       </div>
    </div>
</div>