@model RestaurantVM

@{
    ViewData["Title"] = "Home Page";
}

@section Notify {
    <partial name="_NotificationPartial"></partial>
}

<div class="text-center">
    <h1 class="display-4">Welcome Resturant @Model.Name</h1>
</div>
@{
    if (Model.AcctiveStatus == AcctiveStatus.Unaccepted)
    {
       <div class="text-center">
            <h3 class="display-6">
                Your account status is currently pending. The company has reviewed your application,
                and you will still have five days of work to receive the final response
                about whether you are accepted. Please stay tuned for further updates.
            </h3>
        </div>
    }
    else if (Model.AcctiveStatus == AcctiveStatus.Block) 
    {
         <div class="text-center">
            <h3 class="display-6 text-danger">
                Your account status is blocked please contact us to take a decision about your account .
            </h3>
        </div>
    }
    else 
    {
        if (Model.AcctiveStatus == AcctiveStatus.Warning)
        {
            <div class="text-center">
                <h6 class="display-6 text-warning">
                    Your account has warning because you has many complaints from many customers 
                    any another complaint your accoount going to be blocked.
                </h6>
            </div>
        }

        <div class="text-center">
            @{
                @if (Model.Image is not null)
                {
                    <img alt="resturantLogo" class="avatar rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" />
                }
                else
                {
                    <img src="~/images/Default.jpg" alt="resturantLogo" class="avatar rounded-circle">
                }
            }
            
        </div>

        <div class="text-center mt-5">
            <a class="btn btn-warning" asp-controller="Meal" asp-action="Index">Our Meals</a>
            <a class="btn btn-secondary" asp-controller="Meal" asp-action="DeletedMeals">Deleted Meals</a>
        </div>

        <div class="text-center mt-5">
            <a class="btn btn-primary" asp-controller="Orders" asp-action="Index">Orders</a>
            <a class="btn btn-success" asp-controller="Orders" asp-action="DeliveredOrders">Delivered Orders</a>
            <a class="btn btn-danger" asp-controller="Complaint" asp-action="CustomerComplaints">Customer Complaints</a>
        </div>
    }
}

