@model ChangePasswordVM

@section FormStyle {
    <partial name="_FormStylePartial"></partial>
}

@{
    ViewData["Title"] = "Change Password";
}

<form class="loginform" asp-action="ChangePassword">
    <h2>Change Your Password</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <input asp-for="OldPassword" />
    </div>
    <div class="field">
        <input asp-for="NewPassword" />
    </div>
    <div class="field">
        <input asp-for="ConfirmNewPassword" />
    </div>

     <button type="submit">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
