@{
    ViewData["Title"] = "Forget Password Confirmation";
}

<style>
    img {
        width: 400px;
        height: auto;
        flex-shrink: 0;
        margin-bottom: 50px;
    }
</style>


<img src="~/Illustrations/Email campaign-rafiki.svg"/>
<h1>Otlob</h1>
<h2>Forget Password Confirmation</h2>
<p>We have sent you an email with a link to reset your password.</p>