@model ForgetPasswordVM

@section FormStyle {
    <partial name="_FormStylePartial"></partial>
}

@{
    ViewData["Title"] = "Forget Password";
}

<section class="form-section">
    <div class="text">
        <img src="~/Illustrations/Forgot password-rafiki.svg" alt="Alternate Text" />
    </div>

    <form asp-action="ForgetPassword" class="loginform">
        <h2>Reset Password</h2>
        <div asp-validation-summary="All" class="text-danger text-center"></div>
        <div>
            <input type="email" asp-for="Email" placeholder="Email" />
        </div>

        <button type="submit">Reset Password</button>
    </form>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}