@model ApplicationUserVM

@section FormStyle {
    <partial name="_FormStylePartial"></partial>
}

@{
    ViewData["Title"] = "Register";
}

<section class="form-section">
    <img src="~/Illustrations/Sign up-rafiki.svg" alt="Alternate Text" />

    <form asp-action="Register" class="loginform">
        <h2>Create an account</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <input asp-for="UserName" placeholder="User Name" />
        </div>
        <div>
            <input asp-for="Email" placeholder="Email" />
        </div>
        <div>
            <input type="password" asp-for="Password" placeholder="Password" />
        </div>
        <div>
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
        </div>
        <div>
            <input asp-for="PhoneNumber" placeholder="Phone Number" />
        </div>
        <div>
            <button type="submit">Create your account</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
