@model ResetPasswordVM

@section FormStyle {
    <partial name="_FormStylePartial"></partial>
}

@{
    ViewData["Title"] = "Login";
}


<form asp-action="ResetPassword" class="loginform">
    <h2>Reset Password</h2>
    <div asp-validation-summary="All" class="text-danger text-center"></div>
    <input hidden asp-for="Token" />
    <div>
        <input type="email" asp-for="Email" placeholder="Email" />
    </div>
    <div>
        <input type="password" asp-for="NewPassword" placeholder="New Password" />
    </div>
    <div>
        <input type="password" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" />
    </div>

    <button type="submit">Reset Password</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}