<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Static Dashboard</title>
        <link rel="stylesheet" href="/css/dashboard.css"> 
    </head>

    <style>
        a {
            text-decoration: none;
            color: #fff;
        }
    </style>

<body>
    <div class="sidebar">
        <div class="logo">
            <span class="logo-text"><strong>Otlob</strong></span>
        </div>
        <ul class="menu">
            @if(User.IsInRole(SD.superAdminRole)) 
            {
                <li class="menu-item active">
                    <i class="icon">🏠</i>
                    <a asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-item">
                    <i class="icon">AR</i>
                    <a asp-area="SuperAdmin" asp-controller="Home" asp-action="ActiveResturatns">Active Resturatns</a>
                </li>
                <li class="menu-item">
                    <i class="icon">RR</i>
                    <a asp-area="SuperAdmin" asp-controller="Home" asp-action="ResturatnRequist">Resturants Requists</a>
                </li>
                <li class="menu-item">
                    <i class="icon">DR</i>
                    <a asp-area="SuperAdmin" asp-controller="Home" asp-action="DeletedRestaurant">Deleted Resturants</a>
                </li>
                <li class="menu-item">
                    <i class="icon">💬</i>
                    <a asp-action="UserComplaints" asp-controller="Complaint">Complaints</a>
                </li>
            }
            <li class="menu-item">
                <i class="icon">📊</i>
                Analytics
            </li>
            <li class="menu-item">
                <i class="icon">👥</i>
                Teams
            </li>           
            <li class="menu-item">
                <i class="icon">⚙️</i>
                Settings
            </li>
        </ul>
    </div>    
</body>
</html>
