<link href="~/css/footer.css" rel="stylesheet" asp-append-version="true"/>

<footer class="myfooter">
    <div class="container">
        <!-- Brand & Social -->
        <div class="footer-center">
            <img src="~/images/Logo/otlob-logo.svg" alt="Otlob" class="footer-logo">            
            <div class="hotline">
                <i class="bi bi-telephone-fill"></i> 19988
            </div>

            <ul class="media">
                <li><a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#" aria-label="YouTube"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>