<link href="~/css/footer.css" rel="stylesheet" asp-append-version="true"/>

<div class="myfooter">
    <div class="container">
        <div class="social">
            <h2>Otlob</h2>
            <ul class="media">
                <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="bi bi-x"></i></a></li>
                <li><a class="youtube" href="#"><i class="bi bi-youtube"></i></a></li>
            </ul>
            <p>
                otlob, A food delivery app
            </p>
        </div>
        <div class="links">
            <ul>
                <li><a href="#">Important Link 1</a></li>
                <li><a href="#">Important Link 2</a></li>
                <li><a href="#">Important Link 3</a></li>
                <li><a href="#">Important Link 4</a></li>
                <li><a href="#">Important Link 5</a></li>
            </ul>
        </div>
        <div class="address">
            <span>
                <i class="bi bi-geo-alt-fill"></i>
                <p>Egypt, Giza, Inside The Sphinx, Room Number 220</p>
            </span>
            <span>
                <i class="bi bi-telephone"></i>
                <p>
                    +20 19988
                </p>
            </span>
        </div>
        <div class="images">
            <img src="~/images/landing/food.jpg" alt="Food Image">
            <img src="~/images/landing/food2.png" alt="Food Image">
            <img src="~/images/landing/food3.png" alt="Food Image">
            <img src="~/images/landing/pexels-brettjordan-825661.jpg" alt="Food Image">
            <img src="~/images/landing/pexels-chanwalrus-958545.jpg" alt="Food Image">
            <img src="~/images/landing/pexels-muffin-1653877.jpg" alt="Food Image">
        </div>
    </div>
    <p class="copyright">Made It By Otlob</p>
</div>