@* @if (User.IsInRole(DefaultRoles.RestaurantAdmin))
{
    <div class="sidebar">
        <h3>Otlob</h3>
        <ul>
            <li><a href=""><i class="bi bi-bell"></i><span>Courses</span></a></li>
            <li><a href=""><i class="bi bi-people"></i><span>Friends</span></a></li>
            <li><a href=""><i class="bi bi-credit-card"></i><span>Plans</span></a></li>
        </ul>
    </div>
} *@