@model ApplicationUser

<div class="text">
    @if (Model?.Image != null)
    {
        <img class="avatar rounded-circle" alt="Profile Picture" src="/images/@(Model.Image is not null ? Model.Image : "Default.jpg")" />
    }
    else 
    {
        <img class="avatar rounded-circle" src="~/images/Default.jpg" alt="Customer Profile Picture" />
    }

    <strong>Customer:</strong> @Model?.UserName
    <p><strong>Phone:</strong> @Model?.PhoneNumber</p>
    <p><strong>Email:</strong> @Model?.Email</p>
    
    <hr />
</div>