<div class="card-body">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary btn-sm mb-3">
        <i class="fa fa-arrow-left"></i> Back To Home
    </a>
    <h4 class="text-secondary text-center">No Orders Yet...</h4>
</div>