@model ApplicationUserVM

@section FormStyle {
    <partial name="_FormStylePartial"></partial>
}

<form asp-action="RegistSuperAdmin" class="loginform">
    <h2>Create a super admin account</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input asp-for="UserName"  />
    </div>
    <div>
        <input asp-for="Email"  />
    </div>
    <div>
        <input asp-for="Password" placeholder="Password" />
    </div>
    <div>
        <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
    </div>
    <div>
        <input asp-for="PhoneNumber" placeholder="Phone Number" />
    </div>
    <div>
        <button type="submit">Create admin account</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
