<div class="card shadow-sm border-0">
    <div class="card-header text-light py-4" style="background-color: rgb(192, 40, 16);">
        <h5 class="text-center text-white mb-0">Shopping Cart</h5>
    </div>
    <div class="card-body">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary btn-sm mb-3">
            <i class="fa fa-arrow-left"></i> Back To Home
        </a>
        <h4 class="text-secondary text-uppercase text-center">No Item Selected</h4>   
    </div>
</div>
